<div *ngIf="destination">
    <div class="fw-bold">{{destination.firstName}} {{destination.lastName}}</div>
    <div>{{destination.email}}</div>
    <div>{{destination.phoneNumber}}</div>
    <div>{{destination.city}}</div>
    <div>{{destination.street}} {{destination.building}}</div>
    <div>
      <span *ngIf="destination.porch">Porch {{destination.porch}}, </span>
      <span *ngIf="destination.floor">Floor {{destination.floor}}, </span>
      <span>Flat {{destination.flat}}</span>
    </div>
    <div *ngIf="destination.comment">{{destination.comment}}</div>
</div>
