<div class="container">
  <div class="navbar-nav-scroll border-bottom">
  <div>
    <p class="fw-bold">Brand</p>
    <div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" id="brand-apple">
        <label class="form-check-label" for="brand-apple">Apple</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" id="brand-xiaomi">
        <label class="form-check-label" for="brand-xiaomi">Xiaomi</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" id="brand-samsung">
        <label class="form-check-label" for="brand-samsung">Samsung</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" id="brand-poco">
        <label class="form-check-label" for="brand-poco">POCO</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="1" id="brand-huawei">
        <label class="form-check-label" for="brand-huawei">Huawei</label>
      </div>
      <div class="in-front dropend mt-1">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownBrandFilter"
                data-bs-toggle="dropdown" aria-expanded="false">Other brands</button>
        <div class="dropdown-menu dropdown-sm bg-white" aria-labelledby="dropdownBrandFilter">

          <div class="container-fluid row mx-0 px-0 navbar-nav-scroll">
            <div class="col-sm-4">
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1">A</div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="a1" id="brand-a1">
                    <label class="form-check-label" for="brand-a1">A1</label>
                  </div>
                </div>
              </div>
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1"> </div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="agm" id="brand-agm">
                    <label class="form-check-label" for="brand-agm">AGM</label>
                  </div>
                </div>
              </div>
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1"> </div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="alcatel" id="brand-alcatel">
                    <label class="form-check-label" for="brand-alcatel">Alcatel</label>
                  </div>
                </div>
              </div>
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1"> </div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="asus" id="brand-asus">
                    <label class="form-check-label" for="brand-asus">ASUS</label>
                  </div>
                </div>
              </div>
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1">B</div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="black-shark" id="brand-black-shark">
                    <label class="form-check-label" for="brand-black-shark">Black Shark</label>
                  </div>
                </div>
              </div>
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1"> </div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="blackview" id="brand-blackview">
                    <label class="form-check-label" for="brand-blackview">Blackview</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1">I</div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="infinix" id="brand-infinix">
                    <label class="form-check-label" for="brand-infinix">Infinix</label>
                  </div>
                </div>
              </div>
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1"> </div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="inoi" id="brand-inoi">
                    <label class="form-check-label" for="brand-inoi">Inoi</label>
                  </div>
                </div>
              </div>
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1"> </div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="iribis" id="brand-iribis">
                    <label class="form-check-label" for="brand-iribis">IRIBIS</label>
                  </div>
                </div>
              </div>
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1"> </div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="itel" id="brand-itel">
                    <label class="form-check-label" for="brand-itel">Itel</label>
                  </div>
                </div>
              </div>
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1">J</div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="joys" id="brand-joys">
                    <label class="form-check-label" for="brand-joys">Joy's</label>
                  </div>
                </div>
              </div>
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1">K</div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="keneksi" id="brand-keneksi">
                    <label class="form-check-label" for="brand-keneksi">Keneksi</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1">P</div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="panasonic" id="brand-panasonic">
                    <label class="form-check-label" for="brand-panasonic">Panasonic</label>
                  </div>
                </div>
              </div>
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1"> </div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="philips" id="brand-philips">
                    <label class="form-check-label" for="brand-philips">Philips</label>
                  </div>
                </div>
              </div>
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1"> </div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="prestigio" id="brand-prestigio">
                    <label class="form-check-label" for="brand-prestigio">Prestigio</label>
                  </div>
                </div>
              </div>
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1">R</div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="realme" id="brand-realme">
                    <label class="form-check-label" for="brand-realme">Realme</label>
                  </div>
                </div>
              </div>
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1">S</div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="sony" id="brand-sony">
                    <label class="form-check-label" for="brand-sony">Sony</label>
                  </div>
                </div>
              </div>
              <div class="row px-1">
                <div class="col-sm-2 text-muted text-left px-1"> </div>
                <div class="dropdown-item col-sm-9 px-2 py-0">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="strike" id="brand-strike">
                    <label class="form-check-label" for="brand-strike">Strike</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-1">
    <p class="fw-bold">Minimum price in store offers</p>
  </div>
  <div class="input-group">
    <input type="text" aria-label="min-price" class="form-control form-control-sm" placeholder="from">
    <input type="text" aria-label="max-price" class="form-control form-control-sm" placeholder="to">
  </div>
  </div>
  <div class="mt-2">
    <button type="submit" class="btn btn-sm btn-primary">Search</button>
  </div>
</div>
