<div class="navbar-nav-scroll">

  <p class="fs-5 fw-bold">1. Variant of obtaining</p>

  <div class="px-4">
    <!-- Delivery buttons -->
    <div class="d-flex justify-content-between">
      <button type="button"
              [class]="destination.isDeliveryToAddress ? 'btn btn-info': 'btn btn-outline-info'"
              (click)="onChangeDelivery(true)">
        Delivery to the address
      </button>
      <button type="button" [class]="!destination.isDeliveryToAddress ? 'btn btn-info': 'btn btn-outline-info'"
              (click)="onChangeDelivery(false)">
        Delivery to the pick-up point
      </button>
    </div>

    <div class="mt-3">
      <ng-template *ngIf="destination.isDeliveryToAddress; then deliveryToTheAddress else deliveryToThePickUpPoint"></ng-template>
    </div>
  </div>
</div>

<ng-template #deliveryToTheAddress>
  <form *ngIf="destination" (ngSubmit)="onSaveDestination()" id="cart-form-form" #form="ngForm">
    <div class="mb-3">
      <p class="border-bottom fs-4 mb-1">Address information</p>
      <div class="mb-3">
        <label for="city">City</label>
        <input type="text"
               class="form-control"
               id="city" name="city"
               pattern="[a-zA-Z]+\-?[a-zA-Z]+"
               required
               [value]="destination.city"
               [(ngModel)]="destination.city"
               [ngClass]="{ 'is-invalid': form.submitted && form.controls.city.errors }"/>
        <div *ngIf="form.submitted && form.controls.city.errors" class="invalid-feedback">
          <div *ngIf="form.controls.city.errors.required">
            <ng-container *ngTemplateOutlet="required"></ng-container>
          </div>
          <div *ngIf="form.controls.city.errors.pattern">
            <ng-container *ngTemplateOutlet="patternLettersAndDash"></ng-container>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-9">
          <label for="street">Street</label>
          <input type="text"
                 class="form-control"
                 id="street" name="street"
                 required
                 [value]="destination.street"
                 [(ngModel)]="destination.street"
                 [ngClass]="{ 'is-invalid': form.submitted && form.controls.street.errors }"/>
          <div *ngIf="form.submitted && form.controls.street.errors" class="invalid-feedback">
            <div *ngIf="form.controls.street.errors.required">
              <ng-container *ngTemplateOutlet="required"></ng-container>
            </div>
          </div>
        </div>
        <div class="col-3">
          <label for="building">Building</label>
          <input type="text"
                 class="form-control"
                 id="building" name="building"
                 pattern="[0-9]+\-?\/?\s?[a-zA-Z]*"
                 required
                 [value]="destination.building"
                 [(ngModel)]="destination.building"
                 [ngClass]="{ 'is-invalid': form.submitted && form.controls.building.errors }"/>
          <div *ngIf="form.submitted && form.controls.building.errors" class="invalid-feedback">
            <div *ngIf="form.controls.building.errors.required">
              <ng-container *ngTemplateOutlet="required"></ng-container>
            </div>
            <div *ngIf="form.controls.building.errors.pattern">
              <ng-container *ngTemplateOutlet="patternForBuilding"></ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-3">
          <label for="porch">Porch</label>
          <input type="number"
                 class="form-control"
                 id="porch" name="porch"
                 min="1" step="1"
                 [value]="destination.porch"
                 [(ngModel)]="destination.porch"
                 [ngClass]="{ 'is-invalid': form.submitted && form.controls.porch.errors }"/>
          <div *ngIf="form.submitted && form.controls.porch.errors" class="invalid-feedback">
            <div *ngIf="form.controls.porch.errors.min">
              <ng-container *ngTemplateOutlet="minOne"></ng-container>
            </div>
          </div>
        </div>
        <div class="col-3">
          <label for="floor">Floor</label>
          <input type="number"
                 class="form-control"
                 id="floor" name="floor"
                 step="1"
                 [value]="destination.floor"
                 [(ngModel)]="destination.floor"/>
        </div>
        <div class="col-3">
          <label for="flat">Flat</label>
          <input type="number"
                 class="form-control"
                 id="flat" name="flat"
                 min="1" step="1"
                 required
                 [value]="destination.flat"
                 [(ngModel)]="destination.flat"
                 [ngClass]="{ 'is-invalid': form.submitted && form.controls.flat.errors }"/>
          <div *ngIf="form.submitted && form.controls.flat.errors" class="invalid-feedback">
            <div *ngIf="form.controls.flat.errors.required">
              <ng-container *ngTemplateOutlet="required"></ng-container>
            </div>
            <div *ngIf="form.controls.flat.errors.min">
              <ng-container *ngTemplateOutlet="minOne"></ng-container>
            </div>
          </div>
        </div>
      </div>
      <div>
        <label for="comment">Comment to the address <span class="text-secondary fst-italic">(optional)</span></label>
        <textarea
               class="form-control"
               id="comment" name="comment"
               placeholder="You can leave additional details"
               [value]="destination.comment"
               [(ngModel)]="destination.comment"></textarea>
      </div>
    </div>
    <div>
      <p class="border-bottom fs-4 mb-1">Contact information</p>
      <span class="text-secondary">The phone number and e-mail are used to notify about changing of the order status</span>
      <div class="mt-2">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="firstName">First name</label>
            <input type="text"
                   class="form-control"
                   id="firstName" name="firstName"
                   pattern="[a-zA-Z]+\-?[a-zA-Z]+"
                   required
                   [value]="destination.firstName"
                   [(ngModel)]="destination.firstName"
                   [ngClass]="{ 'is-invalid': form.submitted && form.controls.firstName.errors }"/>
            <div *ngIf="form.submitted && form.controls.firstName.errors" class="invalid-feedback">
              <div *ngIf="form.controls.firstName.errors.required">
                <ng-container *ngTemplateOutlet="required"></ng-container>
              </div>
              <div *ngIf="form.controls.firstName.errors.pattern">
                <ng-container *ngTemplateOutlet="patternLettersAndDash"></ng-container>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="lastName">Last name</label>
            <input type="text"
                   class="form-control"
                   id="lastName" name="lastName"
                   pattern="[a-zA-Z]+\-?[a-zA-Z]+"
                   required
                   [value]="destination.lastName"
                   [(ngModel)]="destination.lastName"
                   [ngClass]="{ 'is-invalid': form.submitted && form.controls.lastName.errors }"/>
            <div *ngIf="form.submitted && form.controls.lastName.errors" class="invalid-feedback">
              <div *ngIf="form.controls.lastName.errors.required">
                <ng-container *ngTemplateOutlet="required"></ng-container>
              </div>
              <div *ngIf="form.controls.lastName.errors.pattern">
                <ng-container *ngTemplateOutlet="patternLettersAndDash"></ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   id="email" name="email"
                   pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$"
                   required
                   [value]="destination.email"
                   [(ngModel)]="destination.email"
                   [ngClass]="{ 'is-invalid': form.submitted && form.controls.email.errors }"/>
            <div *ngIf="form.submitted && form.controls.email.errors" class="invalid-feedback">
              <div *ngIf="form.controls.email.errors.required">
                <ng-container *ngTemplateOutlet="required"></ng-container>
              </div>
              <div *ngIf="form.controls.email.errors.pattern">
                <ng-container *ngTemplateOutlet="patternEmail"></ng-container>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label for="phoneNumber">Phone number</label>
            <input type="text"
                   class="form-control"
                   id="phoneNumber" name="phoneNumber"
                   pattern="\+?[0-9]+"
                   required
                   [value]="destination.phoneNumber"
                   [(ngModel)]="destination.phoneNumber"
                   [ngClass]="{ 'is-invalid': form.submitted && form.controls.phoneNumber.errors }"/>
            <div *ngIf="form.submitted && form.controls.phoneNumber.errors" class="invalid-feedback">
              <div *ngIf="form.controls.phoneNumber.errors.required">
                <ng-container *ngTemplateOutlet="required"></ng-container>
              </div>
              <div *ngIf="form.controls.phoneNumber.errors.pattern">
                <ng-container *ngTemplateOutlet="patternPhoneNumber"></ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer justify-content-center">
      <button type="submit"
              class="btn btn-outline-success"
              data-bs-dismiss="modal"
              [disabled]="form.invalid">
        Save
      </button>
    </div>
  </form>
</ng-template>
<ng-template #deliveryToThePickUpPoint>
  Sorry, it is not supported now
</ng-template>

<!-- Error messages -->
<ng-template #required>The field is required</ng-template>
<!-- [a-zA-Z]+\-?[a-zA-Z]+ -->
<ng-template #patternLettersAndDash>Must be only letters and can be one dash between words</ng-template>
<!-- "[0-9]+\-?\/?\s?[a-zA-Z]*" -->
<ng-template #patternForBuilding>Must be like '144', '12/a', '5-B', '145 de' and i.e.</ng-template>
<!--[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$ -->
<ng-template #patternEmail>Must be like ***@***.***</ng-template>
<!-- "\+?[0-9]+" -->
<ng-template #patternPhoneNumber>Must be like +***********</ng-template>
<ng-template #minOne>Must be positive</ng-template>
