<div class="d-sm-flex flex-row-reverse">
  <div class="d-lg-flex">
    <div *ngIf="isCartFormSubmitted$ | async">
      <div class="card bg-warning rounded mx-2">
        <div class="card-header">
          <span class="fs-4 text-decoration-underline">Destination</span>
        </div>
        <div class="card-body">
          <app-destination></app-destination>
        </div>
        <div class="card-footer d-grid gap-2">
          <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#cartFormModal">Edit</button>
        </div>
      </div>
    </div>
    <div>
      <div class="card bg-warning rounded mx-2">
        <div class="card-header">
          <span class="fs-4 text-decoration-underline">Making the order</span>
        </div>
        <div class="card-body">
          <p class="fw-bold ps-2">Final bill:</p>
          <p class="text-center fs-2 fst-italic mb-0">{{finalBill | number:'1.0-2'}}</p>
        </div>
        <div class="card-footer d-grid gap-2">
          <button *ngIf="isCartFormSubmitted$ | async"
                  type="button"
                  class="btn btn-dark"
                  (click)="onBuy()"
                  [disabled]="(products$ | async)?.length == 0">
            Buy now
          </button>
          <button *ngIf="!(isCartFormSubmitted$ | async)" type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#cartFormModal">Make the order</button>
        </div>
      </div>
    </div>
  </div>
  <div class="w-sm-75">
    <app-product *ngFor="let product of (products$ | async)"
                 [product]="product"
                 (deleteProduct)="onDeleteProduct($event)"
                 (updateProduct)="onUpdateProduct($event)">
    </app-product>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cartFormModal" tabindex="-1" aria-labelledby="cartFormModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header">
        <span class="fs-4 fw-bold">Making the order</span>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-cart-from></app-cart-from>
      </div>
    </div>
  </div>
</div>
