.task-header {
  background-color: #323030;
}
.task-body, .task-footer {
  background-color: #FFF9EC;
}
.task-products {
  background-color: #F4EBDB;
}
.btn-emerald-blue {
  background-color: #C29545;
}
