<div class="container mt-2">
  <div class="row border-bottom mb-3 pb-2" *ngFor="let mobile of mobiles">
    <div class="col-md-2 pe-0" id="mobile-image">
      <img [src]="getImage(mobile)" class="img-width w-75"/>
    </div>

    <div class="col-md-6 ps-0">
      <div>
        <a (click)="getNavigationLink(mobile)"
              class="fw-bold text-black">{{this.getMobileTitle(mobile)}}
        </a>
      </div>
      <div>
        {{this.getShortDescription(mobile)}}
      </div>
      <div>
        <a href="/#">
          <i class="bi bi-star-fill" style="color:darkorange"></i>
          <i class="bi bi-star-fill" style="color:darkorange"></i>
          <i class="bi bi-star-fill" style="color:darkorange"></i>
          <i class="bi bi-star-half" style="color:darkorange"></i>
          <i class="bi bi-star" style="color:darkorange"></i>
          <span class="ps-1 text-secondary">28 reviews</span>
        </a>
      </div>
    </div>

    <div class="col-md-2">
      <span class="fw-bold" *ngIf="mobile.minimalPrice">from {{mobile.minimalPrice}}</span>
    </div>

    <div class="col-md-2">
      <div *ngIf="mobile.countOfOffers; else outOfStock">
        <a href="/#" class="btn btn-warning text-white">{{mobile.countOfOffers}} offers</a>
      </div>
      <ng-template #outOfStock>out of stock</ng-template>
    </div>
  </div>

</div>
