<ng-container>
  <section class="container-md mb-3">
    <div class="d-flex flex-grow-1 border-bottom mb-3">
      <h1>
        Shop
      </h1>
    </div>
    <div class="d-flex align-items-center mb-3">
      <div class="px-4">
        <h2>
          {{this.shop?.name}}
        </h2>
      </div>
      <div class="px-4">
        <div>
          <img [src]="getLogo()" class="logo-size">
        </div>
      </div>
    </div>

    <div class="d-md-flex border border-info p-4">
      <div class="me-md-5">
        <!-- Days of week -->
        <div class="d-flex">
          <div [ngClass]="{'border border-4 border-success mt-4-px-minus': currentDayOfWeek == 1}">
            <div class="border working-hours-size text-center pt-1 text-secondary"
                 [ngClass]="{'bg-success bg-opacity-50 text-success' : checkWorkingHours(1)}">
              <span class="fw-bold">Mo</span>
            </div>
          </div>
          <div [ngClass]="{'border border-4 border-success mt-4-px-minus': currentDayOfWeek == 2}">
            <div class="border working-hours-size text-center pt-1 text-secondary"
                 [ngClass]="{'bg-success bg-opacity-50 text-success' : checkWorkingHours(2)}">
              <span class="fw-bold">Tu</span>
            </div>
          </div>
          <div [ngClass]="{'border border-4 border-success mt-4-px-minus': currentDayOfWeek == 3}">
            <div class="border working-hours-size text-center pt-1 text-secondary"
                 [ngClass]="{'bg-success bg-opacity-50 text-success' : checkWorkingHours(3)}">
              <span class="fw-bold">We</span>
            </div>
          </div>
          <div [ngClass]="{'border border-4 border-success mt-4-px-minus': currentDayOfWeek == 4}">
            <div class="border working-hours-size text-center pt-1 text-secondary"
                 [ngClass]="{'bg-success bg-opacity-50 text-success' : checkWorkingHours(4)}">
              <span class="fw-bold">Th</span>
            </div>
          </div>
          <div [ngClass]="{'border border-4 border-success mt-4-px-minus': currentDayOfWeek == 5}">
            <div class="border working-hours-size text-center pt-1 text-secondary"
                 [ngClass]="{'bg-success bg-opacity-50 text-success' : checkWorkingHours(5)}">
              <span class="fw-bold">Fr</span>
            </div>
          </div>
          <div [ngClass]="{'border border-4 border-success mt-4-px-minus': currentDayOfWeek == 6}">
            <div class="border working-hours-size text-center pt-1 text-secondary"
                 [ngClass]="{'bg-success bg-opacity-50 text-success' : checkWorkingHours(6)}">
              <span class="fw-bold">St</span>
            </div>
          </div>
          <div [ngClass]="{'border border-4 border-success mt-4-px-minus': currentDayOfWeek == 0}">
            <div class="border working-hours-size text-center pt-1 text-secondary"
                 [ngClass]="{'bg-success bg-opacity-50 text-success' : checkWorkingHours(0)}">
              <span class="fw-bold">Su</span>
            </div>
          </div>
        </div>

        <!-- Open Close -->
        <ng-template *ngIf="isOpen(); then open else close"></ng-template>
        <ng-template #open>
          <div class="text-success">Open</div>
        </ng-template>
        <ng-template #close>
          <div class="text-danger">Close</div>
        </ng-template>

        <div class="lh-sm">
          Today the store is working:<br>
          from {{workFrom()}} to {{workTo()}}
        </div>

        <!-- working hours -->
        <div class="mb-3">
          <button type="button" class="btn btn-link btn-sm p-0" placement="bottom"
                  tooltipClass="tooltip-background"
                  [ngbTooltip]="workingHoursContent"
                  [openDelay]="300" [closeDelay]="500"
          >
            Working hours
          </button>
          <ng-template #workingHoursContent>
            <div class="">
              <table class="table-secondary">
                <tbody>
                <tr>
                  <th scope="row" class="px-1">Mo</th>
                  <td class="px-1">{{workFrom(1)}}</td>
                  <td class="px-1">{{workTo(1)}}</td>
                </tr>
                <tr>
                  <th scope="row">Tu</th>
                  <td>{{workFrom(2)}}</td>
                  <td>{{workTo(2)}}</td>
                </tr>
                <tr>
                  <th scope="row">We</th>
                  <td>{{workFrom(3)}}</td>
                  <td>{{workTo(3)}}</td>
                </tr>
                <tr>
                  <th scope="row">Th</th>
                  <td>{{workFrom(4)}}</td>
                  <td>{{workTo(4)}}</td>
                </tr>
                <tr>
                  <th scope="row">Fr</th>
                  <td>{{workFrom(5)}}</td>
                  <td>{{workTo(5)}}</td>
                </tr>
                <tr>
                  <th scope="row">St</th>
                  <td>{{workFrom(6)}}</td>
                  <td>{{workTo(6)}}</td>
                </tr>
                <tr>
                  <th scope="row">Su</th>
                  <td>{{workFrom(0)}}</td>
                  <td>{{workTo(0)}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </div>

        <!-- payments methods -->
        <div>
          <h5>Payment methods</h5>
          <div *ngFor="let method of shop?.paymentMethods" class="ps-2 lh-sm">
            {{method}}
          </div>
        </div>
      </div>
      <div class="flex-fill">
        <div class="lh-sm">
          {{shop?.description}}
        </div>
      </div>
    </div>
  </section>
</ng-container>
