<div class="container-md px-md-4">
  <div class="position-relative">
    <form class="d-flex" role="search">
      <input class="form-control form-control-lg" type="search" placeholder="Search" aria-label="Search"
             (input)="onChange($event)">
    </form>
    <div class="position-absolute navbar-nav-scroll" *ngIf="searchResults != null">
      <div class="list-group" *ngFor="let item of searchResults">
        <a (click)="getNavigationLink(item)" class="list-group-item list-group-item-action">
          <div class="d-sm-flex">
            <div class="me-2" id="mobile-image">
              <img [src]="getImageOfItem(item)" style="width: 50px"/>
            </div>
            <div class="flex-fill">
              <div class="fw-bold text-black">
                {{this.getTitleOfItem(item)}}
              </div>
              <div>
                {{this.getDescriptionOfItem(item)}}
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
